/**********************************************************
| # FONT
**********************************************************/

/* paste here */

/**********************************************************
| # DEBUG
**********************************************************/

.debug {
    background-color: lightgoldenrodyellow;
    padding:10px;
    border: 1px dashed black;
}



